/*DEBUG*/
$primary-color: orange;
// * { border: 1px dotted $primary-color;}
// * { box-sizing: border-box; }

/* body { */
    /*font-family: courier;*/
    /*line-height: 1.3;*/
    /*font-size: 1.4em;*/
/* } */


nav {
  padding: 20px 0;
  display: flex;
  gap: 65px;
  /* align-items: baseline; */
  /*border-bottom: 1px solid #eee;*/
  margin-bottom: 15px;
  padding-left: 100px;
}

nav a, a:hover {
    color: inherit;
    text-decoration: none;
}

nav img {
    width: 120px;
    height: 120px;
    margin: -30px 0px 0px 0px;
}

nav video {
    width: 90px;
    height: 90px;
    margin: -16px 5px 0px 0px;
}


nav p {
    text-align: right;
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: smaller;
}

nav h2, h5, h6 {
    margin-bottom: 0px;
}

nav h5 {
    position: relative;
    top: 15px;
}

/* smaller margin for posts */
.row h4 {
    margin-bottom: 0px;
}

/* a slightly larger font and margin beneath the element */
h6 {
    font-size: 1em;
    margin-bottom: 10px;
}

.logotitle {
    display: flex;
}

.sidebar {
    top: 120px;
    width:  220px;
    height: 400px;
    position: fixed;
    z-index: 1;
    left: 40px;
    box-sizing: border-box;
    text-align: center;
}

#content {
    padding: 0px 20px 20px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.6); // white
}




#colordrawing {
    position: absolute;
    left: 0;
}


.shape {
    fill: transparent;
    // stroke-width: 8px;
    //   stroke: rgba(160, 24, 172, 0.5);
    //   width: 224px;
    //   height: 364px;
    //   stroke-dasharray: 140 540;
    //   stroke-dashoffset: -600;
    //   transition: stroke-dashoffset 1s, stroke-dasharray 1s;

}


.sidebar img {
    width: 120px;
    margin-top: 20px;
}

.sidebar div#bio {
    height: 80px;
}



.sidebar p#idbox {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: -131px;
    margin-left: -2rem;
    height: 271px;
    font-size: 0.1em;
    letter-spacing: -2px;
}


.main {
    margin-left:  256px;
    margin-right: 80px;
}

.container {
    margin: 0 0 0 30px;
}

#authButton:hover {
    animation-duration: 1s;
    animation-name: magenta-borderr;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes magenta-borderr {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    3% {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px; /* rgba(240, 46, 170, 0.0) 10px 10px;*/
    }

    7% {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px;
    }

    10% {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
    }

    15% {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px;
    }

    to {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }

}



// .shape {
//     stroke-dasharray: 140 540;
//     stroke-dashoffset: -600;
//     stroke-width: 8px;
//     fill: transparent;
//     stroke: #000000;
//     border-bottom: 5px solid black;
//     transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
//   }


// $color-1: rgb(255, 0, 0, 0.5);
// $color-2: rgba(46, 162, 240, 0.4);
// $color-3: rgba(240, 46, 170, 0.4);

// // $color-c1: rgba(240, 46, 170, 0.7);

// $border-fatness: 10px;




// div #one::after{
//     content: "";
//     border: $border-fatness solid transparent;
//     // background: transparent;
//     width: 50%;
//     height: 50%;
//     position: absolute;
//     bottom: -$border-fatness*2;
//     left: 0;
//     z-index: -10;
// }


// div #two::after{
//     content: "";
//     border: $border-fatness solid transparent;
//     // background: transparent;
//     width: 50%;
//     height: 50%;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     bottom: -$border-fatness;
//     left: 0;
//     z-index: -10;
// }



//  div #one:hover::after {
//      animation: animate3 1s ease-out forwards;
     
//  }

//  div #two:hover::after {
//     animation: animate2 1.3s ease-out forwards;
    
// }

// // div #three::after{
// //     border: rgba(46, 143, 240, 0.2) 5px solid;
// // }


// @keyframes animate3 {
//     0% {
//         width: 0;
//         height: 0;
//         border-top-color: transparent;
//         border-right-color: transparent;
//         border-bottom-color: $color-3;
//         border-left-color: transparent;
//     }

//     50% {
//         width: 100%;
//         height: 0;
//         border-top-color: transparent;
//         border-right-color: transparent;
//         border-bottom-color: $color-3;
//         border-left-color: transparent;
//     }
//     50.1% {
//         width: 100%;
//         height: 0;
//         border-top-color: transparent;
//         border-right-color: $color-3;
//         border-bottom-color: $color-3;
//         border-left-color: transparent;
//     }

//     100% {
//         width: 100%;
//         height: 115%;
//         border-top-color: transparent;
//         border-right-color: $color-3;
//         border-bottom-color: $color-3;
//         border-left-color: transparent;
//     }
// }

// @keyframes animate2 {
//     0% {
//         width: 0;
//         height: 0;
//         border-top-color: transparent;
//         border-right-color: transparent;
//         border-bottom-color: $color-2;
//         border-left-color: transparent;
//     }

//     50% {
//         width: 110%;
//         height: 0;
//         border-top-color: transparent;
//         border-right-color: $color-2;
//         border-bottom-color: $color-2;
//         border-left-color: transparent;
//     }

//     100% {
//         width: 110%;
//         height: 120%;
//         border-top-color: transparent;
//         border-right-color: $color-2;
//         border-bottom-color: $color-2;
//         border-left-color: transparent;
//     }
// }


